<div class="container">
  <div class="row">
    <div class="nav navbar-nav navbar-center">
      <h1>検索ページ</h1>

      <% if user_signed_in? %>
        <%= form_with url: '/search/search', method: :get do |f| %>
          <%= f.text_field :search %>
          <%= f.select 'range' ,options_for_select([['---選択してください---', ''], ['User', '1'], ['Post', '2']]) %>
          <%= f.select 'search', options_for_select([["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
          <%= f.check_box :red %>赤
          <%= f.check_box :blue %>青
          <%= f.check_box :green %>緑
          <%= f.check_box :pink %>ピンク
          <%= f.check_box :white %>白
          <%= f.check_box :yellow %>黄
          <%= f.check_box :gold %>ゴールド
          <%= f.check_box :silver %>シルバー
          <%= f.check_box :black %>黒
          <%= f.check_box :clear %>クリア
          <%= f.submit "検索" %>
        <% end %>
      <% end %>


      <% if @range == '2' %>
      <table>
  <thead>
    <tr>
     <th></th>
     <th>Title</th>
     <th>Opinion</th>
     <th colspan="3"></th>
    </tr>
  </thead>
      <tbody>
         <% @post.each do |post| %>
         <tr>
          <td>
           <%= link_to(post.user) do %>
           <%#= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
           <% end %>
          </td>
          <td><%= post.body %></td>
         </tr>
         <% end %>
      </tbody>
  <% else %>
      <thead>
         <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
         </tr>
       </thead>

       <tbody>
        <% @user.each do |user| %>
         <tr>
          <td><%#= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
          <td><%= user.name%></td>
          <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
         </tr>
        <% end %>
       </tbody>
    <% end %>
 </table>

      <!--タグリスト-->
      <% @tag_list.each do |list| %>
        <span>
          <%= link_to list.tag_name, tag_posts_path(post_tag_id: list.id) %>
          <%= list.posts.count %>
        </span>
      <% end %>
      <br>

      <%= link_to '戻る', posts_path %>
    </div>
  </div>
</div>
