<div class="other">
  <div class="container">
  <div class="row">
      <h2>フォロー</h2>
      <br>
      <table class="table">
        <tbody>
          <% @user.followings.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50,  fallback: "no_image.jpg",size: "50x50" %></td>
              <td><%= user.name %></td>
              <td>フォロー<%= user.followings.count %></td>
              <td>フォロワー<%= user.followers.count %></td>
              <td><%= link_to '詳細', user_path(user) %></td>
          <% end %>
        </tbody>
      </table>
      <br>
        <%= link_to '戻る', user_path(@user.id) %>
   </div>
  </div>
</div>
</div>
