<div class="show">
  <div class="container">

    <% if @user.id == current_user.id %>
      <h2>マイページ</h2>
    <% else %>
      <h2>詳細ページ</h2>
    <% end %>

    <div class="row">
      <div class="col-xs-3">
        <table class="table">
          <tbody>
            <%= attachment_image_tag @user, :profile_image, :fill, 200, 200,  fallback: "no_image.jpg",size: "200x200" %>
            <br>
              <tr>
                <th class="profile-name">名前:      <%= @user.name %></th>
              </tr>
              <br>
              <tr>
                <th class="profile-introduction">      <%= @user.introduction %></th>
              </tr>
              <!--フォローフォロワー-->
              <tr>
                <th class="profile-stats"><%= render 'relationships/stats' %></th>
               </tr>
               <tr>
                <th class="profile-follow_form"><%= render 'relationships/follow_form',user: @user %></th>
               </tr>
               <tr>
                 <!--編集ボタン-->
                 <% if @user.id == current_user.id %>
                   <th>
                    <%= link_to edit_user_path(@user) do %>
                      <span class= "col-xs-12 btn btn-default glyphicon glyphicon-cog"></span>
                    <% end %>
                   </th>
                 <% end %>
               </tr>
               <br>
          </tbody>
        </table>
      </div>

      <div class="col-xs-9">
        <h3>投稿一覧</h3>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
                <tr class="box">
                  <% post.post_images.each do |post_image| %>
                  <%= link_to attachment_image_tag(post_image, :image, :fill, 100, 100), post_path(post)%>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <% if @user.id == current_user.id %>
          <h3>ブックマーク一覧</h3>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @bookmarks.each do |bookmark| %>
                  <tr class="box">
                    <% bookmark.post.post_images.each do |post_image| %>
                     <%= link_to attachment_image_tag(post_image, :image, :fill, 100, 100), post_path(post_image)%>
                    <% end %>
                  </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>