<div class="edit">
  <div class="container">
    <div class="row">
      <% if @post.errors.any? %>
        <div class="error_messages">
          <div id="error_explanation">
            <h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <h1>編集画面</h1>
      <div class="col-xs-7">
      <%= form_with model:@post, method: :patch, local: true do |f| %>
        <h4>画像投稿</h4>
        <%= f.attachment_field :post_images_images, multiple: true, placeholder: "投稿画像", id: 'post_img' %>
        <%= attachment_image_tag @post.post_images[0], :image, :fill, 200, 200 %>

        <h4>本文</h4>
        <%= f.text_area :body, rows:'5', class: "form-control" %>

        <h4>使用カラー</h4>
        <%= f.check_box :red %>赤
        <%= f.check_box :blue %>青
        <%= f.check_box :green %>緑
        <%= f.check_box :pink %>ピンク
        <%= f.check_box :white %>白
        <%= f.check_box :yellow %>黄
        <%= f.check_box :gold %>ゴールド
        <%= f.check_box :silver %>シルバー
        <%= f.check_box :black %>黒
        <%= f.check_box :clear %>クリア
        <%= f.check_box :brown %>ブラウン
          <br>
          <br>
        <%= f.submit '保存' %>
      <% end %>
      <br>
      <%= link_to '詳細', post_path(@post.id) %>
      |
      <%= link_to '戻る', posts_path %>
      <br>
      <br>
      <br>
      </div>
    </div>
  </div>
</div>
