<div class="container">
  <div class="row">
    <% if @post.errors.any? %>
          <h3><%= @post.errors.count %>error prohibited this book from being saved:</h3>
            <% @post.errors.full_messages.each do |message| %>
              <p><%= message %></p>
            <% end %>
        <% end %>
<h1>編集画面</h1>
<%= form_with model:@post, method: :patch, local: true do |f| %>
  <!--<h4>タイトル</h4>-->
  <%#= f.text_field :title %>
  <!--複数画像投稿-->
  <%= f.attachment_field :post_images_images, multiple: true %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <h4>使用カラー</h4>
  <%= f.check_box :red %>赤
  <%= f.check_box :blue %>青
  <%= f.check_box :green %>緑
  <%= f.check_box :pink %>ピンク
  <%= f.check_box :white %>白
  <%= f.check_box :yellow %>黄
  <%= f.check_box :gold %>ゴールド
  <%= f.check_box :silver %>シルバー
  <%= f.check_box :black %>黒
  <%= f.check_box :clear %>クリア
  
  <%= f.submit '保存' %>
<% end %>

<%= link_to '詳細', post_path(@post.id) %>
|
<%= link_to '戻る', posts_path %>

</div>
</div>