<div class="index">
  <div class="container">
    <div class="row">

      <div class="col-xs-2">
        <br>
        <h3>ランキング</h3>
        <% @all_ranks.each.with_index(1) do |rank, i| %>
            <h3>
              第<%= i %>位
            </h3>
              <%= rank.user.name %>
              <%= link_to post_path(rank) do %>
                <%= attachment_image_tag rank.post_images[0], :image, :fill, 70, 70 %>
              <% end %>
        <% end %>
      </div>
      <div class="col-xs-10">
        <h1>投稿一覧</h1>
        <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="box30">
                <!-- 投稿したuserの情報-->
              <div class="box-user">
                <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40,  fallback: "no_image.jpg",size: "40x40" %>
                <%= link_to post.user.name, user_path(post.user_id) %>
              </div>
              <p>
                <% if post.post_images.present? %>
                    <div>
                      <%= link_to post_path(post) do %>
                        <%= attachment_image_tag post.post_images[0], :image, :fill, 250, 250 %>
                      <% end %>
                    </div>
                <% else %>
                    <%= image_tag 'no_image.jpg', size: '200x200' %>
                <% end %>
              </p>
              <p>
                <%= post.body %>
              </p>
              <p>
                <!--いいね機能 非同期-->
                  <div id='like-button_<%= post.id %>'>
                    <%= render 'favorites/like-button', post: post %>
                  </div>
              </p>
            </div>
          </div>
        <% end %>
        <!--カミナリ機能-->
        <%= paginate @posts %>
  　   </div>
    </div>
  </div>
</div>
