<div class="container">
  <div class="row">
    <h1>投稿一覧</h1>
      <% @posts.each do |post| %>
        <!-- 投稿したuserの情報-->
        <p>
          <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40,  fallback: "no_image.jpg",size: "40x40" %>
          <%= link_to post.user.name, user_path(post.user_id) %>
        </p>
        <!--投稿画像-->
        <p>
          <% if post.post_images.present? %>
            <% post.post_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 200, 200 %>
            <% end %>
          <% else %>
              <%= image_tag 'no_image.jpg', size: '200x200' %>
          <% end %>
        </p>
        <p>
          <!--ログインしているuserは編集ページアイコン表示-->
        <% if current_user.own_post?(post) %>
          <div>
            <%= link_to edit_post_path(post), id: :"button-edit-#{post.id}" do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
          </div>
        <% else %>
          <!--ログインしてないuserはブックマーク-->
          <div>
          <% if post.bookmark_by?(current_user) %>
            <%= link_to post_bookmark_path(post.id), method: :delete, id: :"js-bookmark-button-for-board-#{post.id}" do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% else %>
            <%= link_to post_bookmark_path(post.id), method: :post, id: :"js-bookmark-button-for-board-#{post.id}" do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
          </div>
        <% end %>
        </p>
        <p>
          本文：<%= post.body %>
        </p>
        <p>
          使用カラー:
          <% if post.red == 1 %>
          赤
          <% end %>
          <% if post.blue == 1 %>
          青
          <% end %>
          <% if post.green == 1 %>
          緑
          <% end %>
          <% if post.pink == 1 %>
          ピンク
          <% end %>
          <% if post.white == 1 %>
          白
          <% end %>
          <% if post.yellow == 1 %>
          黄
          <% end %>
          <% if post.gold == 1 %>
          ゴールド
          <% end %>
          <% if post.silver == 1 %>
          シルバー
          <% end %>
          <% if post.black == 1 %>
        　黒
          <% end %>
          <% if post.clear == 1 %>
          クリア
          <% end %>
        </p>
        <p>
          <!--いいね機能-->
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorite_path(post.id), method: :delete, remote: true do %>
                <i class="glyphicon glyphicon-heart", style='color: red;'></i>
                <%= post.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to post_favorite_path(post.id), method: :post, remote: true  do %>
                <i class="glyphicon glyphicon-heart-empty"></i>
                <%= post.favorites.count %>
              <% end %>
            <% end %>
          <!--コメント数-->
          <i class="glyphicon glyphicon-comment"></i>
          <%= link_to "コメント数#{post.post_comments.count} ", post_path(post.id) %>
        </p>
      <% end %>
      <!--カミナリ機能-->
    <%= paginate @posts %>
　</div>
</div>