<div class="show">
  <div class="container">
    <div class="row">
      <h1>詳細</h1>
      <br>
      <div class="col-xs-5">
        <p>
          <!-- 投稿したuserの情報-->
          <%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50,  fallback: "no_image.jpg",size: "40x40" %>
          <%= link_to @post.user.name, user_path(@post.user_id) %>
        </p>
        <br>
        <%= link_to "編集", edit_post_path(@post) %>
        |
        <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <br>
        <br>
        <!--画像表示-->
          <p>
            <% if @post.post_images.present? %>
              <% @post.post_images.each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 200, 200 %>
              <% end %>
            <% else %>
                <%= image_tag 'no_image.jpg', size: '200x200' %>
            <% end %>
          </p>
        <br>
        <p>
          <!--いいね機能 非同期-->
          <div id='like-button_<%= @post.id %>'>
            <%= render 'favorites/like-button', post: @post %>
            |
            <!--コメント数,コメント非同期-->
            <%= render 'post_comments/index', post: @post %>
          </div>
        </p>
        <p><h4>本文：<%= @post.body %></h4></p>
        <br>
        <p>
          <h4>使用カラー：
            <% if @post.red == 1 %>
              赤
            <% end %>
            <% if @post.blue == 1 %>
              青
            <% end %>
            <% if @post.green == 1 %>
              緑
            <% end %>
            <% if @post.pink == 1 %>
              ピンク
            <% end %>
            <% if @post.white == 1 %>
              白
            <% end %>
            <% if @post.yellow == 1 %>
              黄
            <% end %>
            <% if @post.gold == 1 %>
              ゴールド
            <% end %>
            <% if @post.silver == 1 %>
              シルバー
            <% end %>
            <% if @post.black == 1 %>
              黒
            <% end %>
            <% if @post.clear == 1 %>
              クリア
            <% end %>
            <% if @post.brown == 1 %>
              ブラウン
            <% end %>
          </h4>
        </p>
        <br>
        <p>
          <h4>タグ:
            <% @post_tags.each do |tag| %>
              <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
              <%= tag.posts.count %>
            <% end %>
          </h4>
        </p>
      </div>

      <div class="col-xs-7">
        <h3>コメント一覧</h3>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr id="each_comment_<%= @post.id %>">
                <%= render 'post_comments/comments', post: @post %>
              </tr>
            </tbody>
          </table>
          <p>
            <!--コメント記入-->
            <%= form_with(model:[@post, @post_comment]) do |f| %>
              <div class="row">
                <div class="col-sm-8">
                  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                </div>
              </div>
              <br>
              <%= f.submit "送信" %>
            <% end %>
          </p>
            <br>
      </div>
    </div>
  </div>
</div>
