<!DOCTYPE html>
<html>
  <head>
    <title>Nail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="row">
        <nav class="nav navbar-nav navbar-left">
          <span class="navbar-brand" >Only for me</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "新規投稿",  new_post_path(current_user.id), class:"glyphicon glyphicon-pencil" %></li>
              <li><%= link_to 'マイページ', user_path(current_user), class:"glyphicon glyphicon-user" %></li>
              <li><%= link_to 'User', users_path, class:"glyphicon glyphicon-menu-hamburger" %></li>
              <li><%= link_to '検索', search_index_path, class:"glyphicon glyphicon-search" %></li>
              <li><%= link_to 'タイムライン',  posts_path, class:"glyphicon glyphicon-picture" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %></li>
            <% else %>
              <li><%= link_to "Home", root_path, class:"glyphicon glyphicon-home home" %></li>
              <li><%= link_to "About",  home_about_path, class:"glyphicon glyphicon-link about" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class:"glyphicon glyphicon-edit sign_up" %></li>
              <li><%= link_to "ログイン",  new_user_session_path, class:"glyphicon glyphicon-log-in sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div style="margin-top: 50px;">
    <%= yield %>
  </div>

  <footer class="navbar navbar-fixed navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <span class="text-muted">CopyRight Michiho.enomoto</span>
        </div>
      </div>
    </div>
  </footer>

</html>
